* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
  body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-content {
    display: flex;
}

.form-area {
    display: flex;
    flex-direction: column;
}

.login-page {
    text-decoration: none;
    color: black;
}